/* RESET DE CONFIGURAÇÕES PARA OS NAVEGADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* garante altura total da tela */
    background: linear-gradient(90deg, rgb(255, 84, 61), rgb(247, 172, 88));
    font-family: Arial, Helvetica, sans-serif;
    display: flex;           /* ativa Flexbox */
    flex-direction: column;  /* organiza os elementos em coluna */
    justify-content: flex-start; /* elementos começam do topo */
    align-items: center;     /* centraliza horizontalmente */
    padding-top: 30px;       /* dá um espaçamento do topo */
}

h1 {
    text-align: center;
    color: #b61717;
    font-size: 50px;
    margin: 20px;
}

p,
.red-text {
    color: #fff;
    font-size: 25px;
    margin: 10px;
    text-align: center; /* muda para center, antes era justify */
    max-width: 700px;   /* limita a largura do texto para ficar bonito */
}

button {
  background-color: #b61717;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.centralizar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button:hover {
  background-color: #f82121;
  transform: scale(1.1);
}