/* css é usado para decorar páginas. */
/* RESET DE CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* para deixar o site bonito em todos os navegadores  */

body {
    background-image: url("/assets/image3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* significa que tudo que eu escrever dentro so vai afetar o h1 no html. */
h1{
    text-align: center; 
    /* muda onde o texto vai ficar */
    color: #7e6c59;
    /* mudou a cor do título */
    margin: 20px;
    /* deu espaço no título */
}

p,
.red-text {
    color: #fff;
    margin: 10px;
}

hr{
    max-width: 50%;
    margin: 0 auto;
}

button {
  display:block;
  height:auto;
  margin: 5px auto;
  padding: 5px;
  border-radius: 6px;
  text-decoration:none
}

a{
    display:block;
    text-align:center;
    text-decoration:none;
    margin: 3px auto;
    color:#7e6c59
}
