/* RESET DE CONFIGURAÇÕES PARA OS NAVEGADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    background-image: url("assets/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: brown;
    font-size: 20px;
    margin: 20px;
}

p,
.red-text {
    color: #fff;
    text-align: justify;
    font-size: 15px;
    font-family: papyrus;
    margin: 20px;
}
