/* RESET DE CONFIGURAÇÕES PARA OS NAVEGADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(255, 84, 61), rgb(247, 172, 88));
}

h1 {
    text-align: center;
    color: rgb(182, 23, 23);
    font-size: 50px;
    margin: 20px;
}

p,
.red-text {
    color: #fff;
    text-align: justify;
    font-size: 25px;
    font-family: papyrus;
    margin: 10px;
}
